[submodule "vandors/bloat"]
	path = vandors/bloat
	url = https://github.com/keithf4/pg_bloat_check
[submodule "vendors/compactable"]
	path = vendors/compactable
	url = https://github.com/PostgreSQL-Consulting/pgcompacttable.git
[submodule "vendors/bloat"]
	path = vendors/bloat
	url = https://github.com/keithf4/pg_bloat_check
[submodule "vendor/pgtune"]
	path = vendor/pgtune
	url = https://github.com/gregs1104/pgtune
